<div class="col-sm-10 mt-5 mx-auto d-flex flex-column">
  <h1 class="mt-3 fs-2 text-center">About</h1>
  <p class="mt-5 mx-auto w-75">
    This is an exercise for <a href="https://www.theodinproject.com/" target="_blank">The Odin Project</a> JavaScript path. This site is built with <a href="https://expressjs.com/" target="_blank">Express</a>, <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>, <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">Bootstrap</a> and a handful of dependencies.<br>
    <br>Here, we explore the posibility of building together a latticework of mental models in the manner of Farnam Street blog.<br>
    <br>If you are interesed in learn more about how mental models can help you make better decisions, please visit <a href="https://fs.blog/mental-models/" target="_blank">Farnam Street</a>. 
  </p>
  <hr class="w-50 align-self-center">
</div>