<footer class="mt-auto w-100 navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around border-top">
  <a href="https://www.theodinproject.com/" target="_blank" class="text-muted">The Odin Project</a>
  <a href="https://github.com/joan-kii/wiki-memods" target="_blank" class="text-muted">Github Repo</a>
</footer>
</body>
</html>
