<div class="col-sm-10 mt-0 mt-md-5 mx-auto w-75 w-md-100 d-flex flex-column">
  <h1 class="mt-5 fs-2 text-center">Welcome to <span class="fs-3 text-muted">wiki</span><span class="fs-2"><span class="text-primary">M</span>e<span class="text-primary">M</span>ods</span></h1>
  <p class="mt-3 mx-auto text-center">Building your latticework of mental models is a lifelong project. Stick with it, and you’ll find that your ability to understand reality, make consistently good decisions, and help those you love will always be improving.</p>
  <div class="ps-5">
    <ul class="d-none d-md-flex list-unstyled justify-content-around">
      <li class="text-muted">Articles: <span><%= data.articles_count %></span></li>
      <li class="text-muted">Categories: <span><%= data.categories_count %></span></li>
      <li class="text-muted">Use Cases: <span><%= data.useCases_count %></span></li>
    </ul>
  </div>
  <hr>
  <div class="ps-5">
    <h3>Last Article: </h3>
    <%- data.last_article.sanitizedHtml %> 
  </div>
</div>