<div class="mt-5 position-fixed col-sm-2">
  <ul class="list-unstyled ps-2 pt-2">
    <li class="m-2">
      <a class="link-primary" href="/">Home</a>
    </li>
    <hr>
    <li class="m-2">
      <a class="link-primary" href="/articles">Articles</a>
    </li>
    <li class="m-2">
      <a class="link-primary" href="/categories">Categories</a>
    </li>
    <li class="m-2 pb-2">
      <a class="link-primary" href="/use-cases">Use Cases</a>
    </li>
    <hr>
    <li class="m-2">
      <a class="link-primary" href="/article/create">Create Article</a>
    </li>
    <li class="m-2">
      <a class="link-primary" href="/category/create">Create Category</a>
    </li>
    <li class="m-2 pb-2">
      <a class="link-primary" href="/use-case/create">Create Use Case</a>
    </li>
    <hr>
    <li class="m-2">
      <a class="link-primary" href="/about">About</a>
    </li>
  </ul>
</div>