<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light py-0 border-bottom">
      <div class="container-fluid align-items-center justify-content-start">
        <a href="/" class="navbar-brand ps-3">
          <span class="text-muted">wiki</span><span class="fs-3"><span class="text-primary">M</span>e<span class="text-primary">M</span>ods</span>
        </a>
        <p class="d-none d-md-block navbar-text mb-0 mt-2 ps-2">Building together the greatest <cite title="Farnam Street Blog">latticework of Mental Models</cite>.</p>
      </div>
    </nav>
  </header>