<%- include('../partials/topbar'); %>
<main>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar'); %>
        <div class="col-sm-10 mt-5 mx-auto d-flex flex-column">
          <h1 class="mt-5 fs-2 text-center"><%= message %></h1>
          <hr>
          <button id="goBack" class="btn btn-primary w-25 align-self-center" onclick="window.history.back();">Go back</button>
        </div>
      </div>
    </div>
  </main>
<%- include('../partials/footer'); %>
