<%- include('../partials/topbar'); %>
<main>
  <div class="container-fluid">
    <div class="row">
      <%- include('../partials/sidebar'); %>
      <%- include('../partials/home', { data: data }); %>
    </div>
  </div>
</main>
<%- include('../partials/footer'); %>
